<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-4 center-text">Novo cadastro</h2>
                <hr>
                <form class="cadastro" method="POST">
                    <div class="row1">
                        <label>Nome de usuário:</label>
                        <input type="text" name="usuario" id="usuario" class="form-control">

                        <label>Senha:</label>
                        <input type="text" name="senha" id="senha" class="form-control">

                        <label>Nome completo:</label>
                        <input type="text" name="name" id="name" class="form-control">

                        <label>Telefone:</label>
                        <input type="text" name="tel" id="tel" class="form-control cpf">
                        <label>Cidade:</label>
                        <input type="text" name="cidade" id="cidade" class="form-control">

                    </div>
                    <div class="row2">
                        <label>Estado:</label>
                        <input type="text" name="estado" id="estado" class="form-control">

                        <label>CEP:</label>
                        <input type="text" name="cep" id="cep" class="form-control">

                        <label>Ramo de atução:</label>
                        <input type="text" name="ramo_atuacao" id="ramo_atuacao" class="form-control">

                        <label>Raça/cor:</label>
                        <input type="text" name="cor_raca" id="cor_raca" class="form-control">
                    </div>
                    <br>
                </form>
                <hr>
                <button action="create" id="btn" class="btn btn-dark">Cadastrar</button>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>