<%- include('partials/header.ejs') %> 

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-4 center-text">Novo cadastro</h2>
            <hr>
            <form method="POST" action="createClient">
                <label>Nome do cliente:</label>
                <input type="text" name="name" id="name" placeholder="Insira o nome do cliente" class="form-control">
                                   
                <label>CPF do cliente:</label>
                <input type="text" name="cpf" id="cpf" placeholder="Insira o CPF do cliente" class="form-control cpf">
                
                <label>Endereço do cliente:</label>
                <input type="text" name="address" id="address" placeholder="Insira o endereço do cliente" class="form-control">
                <br>
                <button class="btn btn-dark">Cadastrar</button>
            </form>
            <hr>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>