<%- include ('partials/header.ejs') %>
    <div class="container">
        <div class="content">
            <div class="text">
                <h1>Seja Bem-vindo</h1>
                <p>Começe agora mesmo a economizar com as suas compras.</p>
            </div>
        </div>
    </div>
    <footer>
        Todos os direitos reservados EtNegocios®.
    </footer>
<%- include ('partials/footer.ejs') %>