<%- include ('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
    <div class="background">

    </div>
    <div class="background-02">
        <div class="container">
            <div class="content cnt-home">
                <div class="text">
                    <h1>Seja bem-vindo!</h1>
                    <p>Começe agora mesmo a economizar com as suas compras.</p>
                </div>
            </div>
        </div>
    </div>
        <footer>
        Todos os direitos reservados EtNegocios®.
    </footer>
    
<%- include ('partials/footer.ejs') %>