<%- include ('partials/header.ejs') %>
    <div class="container">
        <div class="content">
            <div class="logo-container">
                <img src="imgs/logo_etn.png" class="logo">
            </div>
            <div class="card">
                <div class="login-form">
                    <h2 class="mb-4 center-text">Login</h2>
                        <form>
                            <div class="form-group">
                                <label for="username">Usuário</label>
                                <input type="text" class="form-control" id="username" placeholder="Digite seu usuário">
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
                            </div>
                            <div class="center-text">
                                <button type="submit" class="btn btn-dark">Entrar</button>
                            </div>
                            <div class="senha">
                                <a href="#">Esqueci minha senha</a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
<%- include ('partials/footer.ejs') %>
